	/*全局CSS样式*/
body{
	margin: 0
}
.clear{
	clear: both;
}
.clear{
	clear: both;
}
.pay_choose .pay_choose1 .pay_active{
	background-color: #dc8100;
	/*background-color: #8e4c0c;*/
}
.font-7{
	font-size: 0.7rem;
	margin: 1.75rem 1rem;
}
.col-20{
	width: 18%;
	margin-left: 2%;
}
.col-80{
	width: 78%;
	margin-left: 2%;
}
.col-70{
	width: 68%;
	margin-left: 2%;
}
/* 支付页CSS样式 */

.pay_bg{
	background:#ffcccc;
}
.pay_ap{
	display: inline-block;
	width: 26.8%;
	height: 20%;
	border: 2px solid #dc8100;
	/*border: 2px solid #8e4c0c;*/
	border-radius: 4%;
	text-align: center;
	margin: .4rem .4rem;
	float: left;
}
.pay_span1{
	color: #e31512;
}
.pay_choose .pay_choose1 .pay_ap .pay_spanactive{
	color: white;
}
.pay_span2{
	color: #c44d4b;
	font-size: .6rem;
}
.pay_choose{
	text-align: center;
	margin: 0 auto;
	margin-top: 1rem;
	width: 84%;
}
.pay_ap .pay_input_qita{
  padding: .8rem;
	text-align: center;
	height: 51px;
	background: none;
	border: none;
	width: 100%;
}


.clear{
	clear: both;
}

.col-20{
	width: 18%;
	margin-left: 2%;
}
.col-80{
	width: 78%;
	margin-left: 2%;
}
.col-70{
	width: 68%;
	margin-left: 2%;
}
/* 支付页CSS样式 */
.choose6{
	text-align: center;
	margin: 20px auto;
	font-size: .7rem;
}

.box1{
	width: 100%;
	min-height: 140px;
	position: relative;
}
.box2{
	margin-top: -33%;
	font-size: .8rem;
  width: 100%;
	text-align: center;
	color: #fff;
	float: left;
}
.pay_help_icon{
	width: 8%;
	float: right;
	margin-top: -38%;
}

.imgbox{
	width: 20.3%;
	height: 77px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -22.8%;
	margin-left: 40.4%;
	float: left;
}
.user-img{
	position: relative;
	z-index: 1200;
	top: 8.2%;
	left: 38.2%;
	width: 4.1rem;
	height: 4.1rem;
	z-index: 300;
	border-radius: 50%;
}

.imgbox{
	width: 20.3%;
	height: 77px;
	background-color: #000;
	/*position: relative;*/
	top: 0;
}

/*感恩2016*/
.pay_text1{
	color: #808080;
	font-size: .6rem;
	text-align: center;
}

.pay_number{
	margin: 0 auto;
	width: 85%;
}
.pay_number ul,.pay_number ul li .item-input input{
	background: none;
	font-size: .7rem!important;
}
.pay_number ul li{
	margin-bottom: 1rem;
	background: #fff;
}
.item-inner{
	padding-right: .25rem;
}
.pay_input {
	text-align: right;
	width: 80% !important;
	padding-right: 0.5rem;
}
.pay_span{
	display: block;
	margin-top:.6rem;
}
.align-top .pay_text{
	font-size: .7rem;
	color:#808080;
	text-align: left;
	padding-left: 0;
}
.list-block textarea{
	height: 3rem 1rem;
}
.button-danger{
	margin: 1rem;
}
.pay_claim{
	height: 5rem;
	font-size: 0.6rem;
    margin: 0 auto;
    width: 86%;
}
.buttonbox{
	margin: auto 2rem;
	margin: 3rem;
}

<<<<<<< HEAD
=======

>>>>>>> master
/*手气页CSS*/
.pay_shouqi{
	top: 8rem;
	left: 1.5rem;
}
.icon2{
	background: url(../img/userimg.png);
	width: 50px;
	height: 50px;

	border-radius: 50%;
}
.shouqi{
	color: #FF8C00;
}

.shouqipullright{
	right: auto;
}
.shouqian-item{
	display: block !important;
}

/*.shouqi-a{
	height: 20px;
	display: block;
	width: 100%;
}*/

.shouqi{
	color: #FF8C00;
}

.shouqipullright{
	right: auto;
}
.shouqian-item{
	display: block !important;
}

/*.shouqi-a{
	height: 20px;
	display: block;
	width: 100%;
}*/


.icon3{
	background: url(../img/qqhb-icon.png);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}


/*弹出框-发朋友圈*/

  .pop6{
        z-index: 100;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

 .popMain6{
    width: 68%;
    height: 135px;
    margin:0 auto;
    margin-top:80%;
  }
   .pop6  .popMain6 .popMiddle6{
    width: 100%;
    text-align: center;
    margin: 0;
    height: 75.5%;
    background-color: #f5f5f5;
    font-size: 0.8rem;
    color:#333333;
    line-height: 1.2rem;
    padding-top: 0.5rem;
    font-size: 0.7rem;
    border-radius:5px 5px 0 0;
   }

   .pop6  .popMain6 .popBottom6{
    width: 100%;
    margin: 0;
    height: 24%;
    line-height: 32px;
    font-size: 0.8rem;
    /*border-bottom: 1px solid #000;*/
   }
.popBottom6 .confirm6{

    display: inline-block;
    width:49.7%;
    height: 100%;
    text-align: center;
    color: #f5f5f5;
    margin: 0;
    background-color: #999999;
    float: left;
    font-size: 0.7rem;
    border-radius: 0 0 0 5px;
    margin-top: 0.5%;
}
.popBottom6 .cancel6{
     margin-top: 0.5%;
    display: inline-block;
    width:49.7%;
    margin-left:0.6%;
    height: 100%;
    text-align: center;
    background-color: #ff3333;
    color: #ffcccc;
    font-size: 0.7rem;
    border-radius: 0 0 5px 0 ;
}
.qqhb-yue{
    margin:0;
   width: 100%;
   height: 45%;
   line-height: 19px;
   color: #605f5d;
   border-bottom: 1px #666 solid;
}
.qqhb-tixian{
   text-indent: 0.5rem;
   text-align: left;
   margin:0;
   width: 68%;
   height: 55%;
   line-height: 16px;
   color: #666666;
   float: left;
   box-sizing:border-box;
   padding-top: 0.5rem;
   padding-left: 0.3rem;
   overflow: hidden;
}
 .qqhb-erweima{
    width: 3rem;
    height: 2.2rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    font-size: 0.6rem;

}

    .pop6{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

  .pop6 .popMain6{
  width: 68%;
    height: 135px;
    margin:50% 0 0 16%;
  }

   .pop6  .popMain6 .popMiddle6{
    width: 100%;
    text-align: center;
    margin: 0;
    height: 75.5%;
    background-color: #f5f5f5;
    font-size: 0.8rem;
    color:#333333;
    line-height: 1.2rem;
    padding-top: 0.5rem;
    font-size: 0.7rem;
    border-radius:5px 5px 0 0;
   }

   .pop6  .popMain6 .popBottom6{
    width: 100%;
    margin: 0;
    height: 24%;
    line-height: 32px;
    font-size: 0.8rem;
    /*border-bottom: 1px solid #000;*/
   }
.popBottom6 .confirm6{

    display: inline-block;
    width:49.7%;
    height: 100%;
    text-align: center;
    color: #f5f5f5;
    margin: 0;
    background-color: #999999;
    float: left;
    font-size: 0.7rem;
    border-radius: 0 0 0 5px;
    margin-top: 0.5%;
}
.popBottom6 .cancel6{
     margin-top: 0.5%;
    display: inline-block;
    width:49.7%;
    margin-left:0.6%;
    height: 100%;
    text-align: center;
    background-color: #ff3333;
    color: #ffcccc;
    font-size: 0.7rem;
    border-radius: 0 0 5px 0 ;
}
.qqhb-yue{
    margin:0;
   width: 100%;
   height: 45%;
   line-height: 19px;
   color: #605f5d;
   border-bottom: 1px #666 solid;
}
.qqhb-tixian{
   text-indent: 0.5rem;
   text-align: left;
   margin:0;
   width: 68%;
   height: 55%;
   line-height: 16px;
   color: #666666;
   float: left;
   box-sizing:border-box;
   padding-top: 0.5rem;
   padding-left: 0.3rem;
   overflow: hidden;
}
 .qqhb-erweima{
    width: 3rem;
    height: 2.2rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    font-size: 0.6rem;
}
