
/*公共的样式*/

/*去掉p标签默认样式*/
ul li{
  list-style: none;
}
.p-mar-padd{margin:0;padding: 0;}

/*按钮*/
.btn-se{
  width: 80%;
  height: 1.7rem;
  border-radius: 0.3rem;
  line-height: 1.7rem;
  background-color: #ff2a48;
  color:#fff;
  margin-top: 0.6rem;
  font-size: 0.8rem;
  font-size: 0.8rem;

}


/*首页*/
.shouye-bj{
    background-size:100% 100%;
	  background-image: url(../img/bg.jpg);
	  background-repeat:no-repeat; 
	  width: 100%;
	  height: 100%;
}

.content .nav-top-con{
  width:100%;
  height: 16%;
  margin-top: 37%;
}


/*用户图像 余额  发过的红包 */


 .nav-top-con  .yiyihang{
  width: 100%;
  height: 54%;
  padding-left: 0.3rem;
}

 .yiyihang a img{
  float: left;
  display: inline-block;
  /*margin-top: 0.1rem;*/
  width: 2rem;
  height: 1.9rem;
  border-radius: 50%;
 }

.yiyihang p{
  float: left;
  background-color: #ff2a48;
  height: 1.6rem;
  width: 68%;
  margin-left: 0.2rem;
  margin-top: 0.16rem;
  border-radius: 0.3rem;
  line-height: 1.6rem;
  text-indent: 0.2rem;
  position: relative;
}

.yiyihang p .mz-yue-con{
  display: inline-block;
  width:62%;
  height: 1.6rem;
  overflow:scroll;
  color: #fff;
  font-size: 0.65rem;
  overflow: hidden;
  

}
.yiyihang p a{
  display: inline-block;
  position: absolute;
  right: 0.2rem;
  color: #ffcc33;
  font-size: 0.65rem;

}

.yiyihang .shouye-tixin{
  width: 14%;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: #ff2a48;
  float: left;
  margin-top: 0.26rem;
  margin-left: 0.2rem;
  text-align: center;
  border-radius: 0.2rem;
  font-size: 0.7rem;
}
.shouye-tixin a{
  color: #fff;
}


/*名称 金额 祝福语*/

.zhufuyu-con{
  position: relative;
  height: 46%;
  width: 70%;
  margin:0 auto;

}

.zhufuyu-con .p1-mc-je{
  position: absolute;
  top:0;
  text-align: center;
  overflow:scroll;
  height: 50%;
  line-height: 15px;
  width: 100%;
  color:#e9b603;
  font-size:0.65rem;
}
.zhufuyu-con .p1-mc-je .jiada-se{
  display: inline-block;
  font-size: 0.8rem;
  color: #ee3b37;
}

.zhufuyu-con .p2-zhufuyu{
  position: absolute;top:50%;
  width: 100%;
  height: 50%;
  font-size: 0.65rem;
  text-align: center;
  overflow: scroll;
  text-indent: 0.2rem;
  margin-top:0.1rem ;
  color: #ee3b37;

}

/*领红包，送祝福  红包*/

.conter-hongbao{
  width: 100%;
  height: 14rem;
  margin-top: 0.3rem;
}


@media screen and (max-width:340px ) {
  .conter-hongbao p {
             margin-top: 0.4rem;
            }
    
  }

.conter-hongbao .lhb-szf{
  font-size: 0.7rem;
  width: 60%;
  height:8%;
  margin-bottom: 0.2rem;
  margin-left: 6%;
  color: #ee3b37;


}
.conter-hongbao .comm-hb{
  width:100%;
  height: 14rem;

}

@media screen and (max-width:321px ) {
   .conter-hongbao{
              height: 12rem;
            }
  .conter-hongbao .comm-hb{
              height: 12rem;
            }
         
     }

.comm-hb  .qqhb-1-img{
  padding: 0 5%;
  background-image: url(../img/ui_hongbao.png);
  background-repeat: no-repeat;
  display: inline-block;  
  width: 30%;
  height:50%;
  text-align: center;
  background-size:90% auto;
  text-align: center;
  margin-left: 2.2%;
 }

.comm-hb  .qqhb-1-img a{
  display: inline-block;
  margin: 0 auto;
  width: 90%;
  color: #fde367;
  height: 100%;
  padding-top: 60%;
  font-size: 0.7rem;

}

@media screen and (max-width:359px ) {
  .comm-hb  .qqhb-1-img a{
              width: 90%;
               padding-top: 55%;
            }
         
     }


@media screen and (max-width:321px ) {
  .comm-hb  .qqhb-1-img a{
              width: 100%;
               padding-top: 55%;
            }
         
     }

  
/*按钮 我也要发圈圈红包  查看祝福*/

.btn-con{
  width: 100%;
  height: 6rem;
  text-align: center;
  margin-top:2rem;
  /*padding-top: 1rem;*/
}


@media screen and (max-width:340px ) {
  .btn-con{
              margin-top:1rem;
        }
  }

.btn-con a{
  display:inline-block;
  border: 1px solid #fde367;
}


@media screen and (max-width:321px ) {
  .btn-con {
             margin-top: 1.6rem;
            }
    
  }


   /*未抢到红包弹窗*/
 
.wei-hongbao-tc{
  display:none;
  width: 100%;
  height: 100%;
  position: fixed;
  background:rgba(0,0,0,0.8);

}
.wei-hongbao-tc .con-no{
  width: 100%;
  height: 50%;
  margin-top: 20%;
}
.con-no .weip-bj{
  background-image: url(../img/ui_dashang1.png);
  background-repeat: no-repeat;
  background-size:100% 100%;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  left: 10%;
  width: 78%;
  height: 100%;
}
.con-no .weip-bj span{
    font-size: 1.8rem;
    position: absolute;
    top: 30%;
    left: 39%;
    color: #999;
}

.con-no .weip-bj p{
  width: 100%;
  font-size:0.8rem; 
  position: relative;
  top: 72%; 
  text-align: center;
  color: #fff;
 }

@media screen and (max-width:322px ) {

  .con-no .weip-bj{
    width: 70%;
    left: 15%;
    text-align: center;
  }
  .con-no .weip-bj p {
              /*left: 7%;*/
              font-size: 0.7rem;
            }
    
  }


 .wei-hongbao-tc  .yc-qued{
   display: inline-block;
   width: 40%;
   height: 1.7rem;
   background-color: #ff2048;
   text-align: center;
   line-height: 1.7rem;
   position: relative;
   left: 30%;
   margin-top: 5%;
   border-radius: 0.2rem;
   font-size: 0.8rem;
   color: #fff;
 }



   /*抢到红包弹窗*/
.qianghongdao{
  display:none;
  width: 100%;
  height: 100%;
  position: fixed;
  background:rgba(0,0,0,0.8);

}

.qianghongdao .qiang-hb{
  width: 100%;
  height: 50%;
  margin-top: 30%;
}
.qiang-hb .weip-bj{
  background-image: url(../img/ui_dashang1.png);
  background-repeat: no-repeat;
  background-size:90% 100%;
  position: relative;
  left: 15%;
  width: 78%;
  height: 100%;
}


.qiang-hb .weip-bj .pcla2{
    font-size: 0.7rem;
    position: relative;
    top: 50%; 
    left: 8%;
    color: #fff;

}

.qiang-hb .weip-bj .je-ds{
  width: 25%;
  height: 10%;
  font-size: 0.9rem;
  position: relative;
  top: 35%;
  left: 33%;
  text-align: center;

}


@media screen and (max-width:322px ) {
 .qiang-hb .weip-bj .pcla2 {
             left: 2%;
     }  
  }


.qiang-hb .weip-bj ul{
  padding: 0;
  width: 100%;
  height: 12%;
  position: relative;
  top: 50%;
  color: #fff;
}

.weip-bj ul li{
   display: inline-block;
   width: 25%;
   height: 98%;
   text-align: center;
   background-color: #e0c59f;
   border-radius: 0.3rem;
   line-height: 1.9rem;
   font-size: 0.7rem;
   margin-left: 2.5%;
}
@media screen and (max-width:322px ) {
.qiang-hb .weip-bj ul{
  top: 46%;
}


}
@media screen and (max-width:322px ) {
 .weip-bj ul li {
               line-height: 0.8rem;
                  height: 78%;

     }  
  }


.weip-bj ul .das-active{
  border: 2px solid #fed40d;
}


.qianghongdao  .qiangd-qx{
   display: inline-block;
   width: 40%;
   height: 1.7rem;
   background-color: #ff2048;
   text-align: center;
   line-height: 1.7rem;
   position: relative;
   left: 30%;
   margin-top: 5%;
   border-radius: 0.2rem;
   font-size: 0.8rem;
   color: #fff;
 }

/*分享页*/

.header-bj{
  background-image: url(../img/bj-fx.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height:27%;
}
.header-bj img{
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-size: 100% auto;
  width:21.3%;
  overflow: hidden;
  margin-top: 15.8%;
  margin-left: 39.4%;
}

@media screen and (min-width:560px ) {
  .header-bj img{
             top: 26.5%
            }
  }

.hbzbh-con{
  margin-top:5%;
  width: 100%;
  height: 26%;


}

.hbzbh-con p{
  font-size: 1rem;
  height:18%;
  text-align: center;
  margin: 0 auto;
}

.hbzbh-con p span{
  display: inline-block;
  background-image: url(../img/bag_1.png);
  background-repeat: no-repeat;
  background-size: 80% auto;
  width: 1.2rem;
  height: 1.4rem;
  position: relative;
  top: 30%;
  left: 3%;
}


.hbzbh-con a{
  display: inline-block;
  width: 80%;
  height: 1.7rem;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.7rem;
  text-align: center;
  background-color: #ec4f3d;
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 0.3rem;
  border: solid 2px #fde367; 
}


.erweima-con{
  width: 7.5rem;
  margin: 0 auto;
  height: 6.5rem;
  background-color: #000;
}


.erweima-con img{
  width: 100%;
  height: 100%;
}

.fa-erweima{
  width: 55%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1%;
  color: #000;
  font-size: 0.7rem;
}

.fx-jies{
  width: 90%;
  height:25%;
  margin: 0 auto;
  margin-top: 1.6%;
}
.fx-jies p{
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  color: #999;
}


/*分享弹窗*/
.fx-pop-tanchu{
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        background:rgba(0,0,0,0.8);
      }    

       .fx-pop-tanchu p{
        color: #f5f5f5;
        margin-top: 65%;
        text-align: center;
       }

    .fx-pop-tanchu img{
      display: inline-block;
      width: 20%;
      height: 26%;
      background-size:100% auto;
      position: absolute;
      right:10%;
      top: 5%;
    }







/*发红包*/
.pay_bg{
	background:#ffffff;
}
.box_head{
	line-height: 0rem;
}
.pay_help_icon{
	width: 6%;
	position: absolute;
	top: .8rem;
	right: 1rem;
}
.pay_text1{
	color: #999;
	font-size: .6rem;
	text-align: center;
}
.pay_choose{
	margin: 0 auto;
	width: 84%;
	height: 26%;
}
.imgbox{
	width: 21.3%;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -22.8%;
  margin-left: 39.4%;
	position: absolute;
}
.pay_ap{

	width: 30%;
	border-radius: 4%;
	text-align: center;
	background-color: #ec4f3d;
	margin: .2rem .2rem;
	float: left;
}
.pay_span1{
	color: #fde367;
  font-size: 1rem;
}
.pay_span2{
	color: #fff;
	font-size: .6rem;
}
.pay_choose .pay_active{
border: 2px solid #fde367;	
}
.clear{
	clear: both;
}
.pay_number{
	margin: .5rem auto;
	width: 82%;
}
.pay_align{
	padding-right: 0!important;
}
.pay_input_geshu{
	width: 25%!important;
}
.pay_span{
	margin-top:.5rem;
}
.btn_size{
	line-height: 1.6rem!important;
	height: 1.6rem;
	width: 65%;
	margin: .5rem auto;
	font-size: .7rem;
	color: #fff;
	background-color: #ec4f3d;
	border: .03rem solid #fde367;
	visibility: 40%;
}
.pay_checkbox{
	font-size: .7rem;
	text-align: center;
}
.help{
	padding-left: 0rem!important;
	color: #fff;
}
.pay_help_text{
	width: 100%;
	margin: auto;
	background-color: white;
}
.pay_help_text p{
	color:#696969;
	margin-left: 1rem;
	margin-right: 1rem;
	line-height: 1.5rem;
	/*text-indent: 2em;*/
}
.pay_help_indent{
	margin: 0rem 1rem;
	padding-top: 1rem;
	border-bottom: solid .05rem gray;
}
.pay_tixianjine{
	text-align: center;
	margin: 1rem auto;
	font-size: 2rem;
	color: #000;
}
.pay_tixianjine span{
	font-size: .8rem;
}
.pay_text1 span{
	color: #ec4f3d;
	font-size: 1rem;
}
.icon2{
	background: url(../img/userimg.png);
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}
.col-30{
	width: 30%;
}

.pay_time{
	color: #999;
	font-size: .7rem;
}
.pay_zhufu{
	color: #ffb22e;
	font-size: .7rem;
}
.pay_shouqi{
	text-align: right;
}
.pay_hongbao{
	font-size: .85rem;
	color: #ffb22e;
}
.col-20{
	width: 20%;
}
.col-80{
	width: 78%;
}
.pay_number ul,.pay_number ul li .item-input input{
	background: none;
	font-size: .7rem!important;
}
.item-inner a{
	color: black;
}
.pay_input {
	text-align: right;
	width: 90% !important;
	padding-right: 0.5rem;
}
.align-top .pay_text{
	font-size: .7rem;
	color:#808080;
	text-align: left;
	padding-left: 0;
	height: 3rem;
}
.pay_claim{
	height: 5rem;
	font-size: 0.6rem;
  margin: 0 auto;
  width: 86%;
}
.shouqian-item{
	display: block !important;
}


.shangse-a{
  color: #3d4145;
}

/*ending*/








/*遮罩层样式 --提现*/
.color-white{
  color: #fff;
}
.color-yello{
  color: #FFC200;
}
.text-conter{
  text-align: center;
}
.white_contenttop{
  top: 40%;
  text-align: center;
}
.white_contenttop2{
  top:20%;
}
.size-6{
  font-size:.6rem;
}
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content,.white_content2 {
    color: #ff2d4e;
    /*display: none;*/
    position: absolute;
    left: 10%;
    width: 80%;
    z-index:1002;
    overflow: auto;
}

.dachu{
    font-size: 0.9rem;
    /*font-weight: bold;*/
}

.qianwanliao{
    display:inline-block;
    width: 100%;
    margin-top: 3rem;
    font-size: 0.8rem;
    color: #fff;
    /*height: 2rem;*/
}

.shangse{color: #333;}


 .jinji{
      display: inline-block;
      background-image: url(../img/jjbc.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 3.1rem;
      right:0.3rem;
      width: 21%;
      height: 19%;
      background-size: 100% auto;
    }

