
.content{
    background-size:100%  750px;
    /*background-size:100%  640px;*/
	background-image: url(../img/bg_xxhdpi.jpg);width:100%;
	background-repeat:no-repeat;
	/*background:rgb(107,8,8);*/
	width: 100%;
	height: 100%;
}

.qqhb-nav-bj{
	background:rgba(0,0,0,0.3);
	border: 0;
	z-index: 1;
	height: 1.8rem;
}

.qqhb-nav-bj .title{
	color:#F5F5F5;
	height:1.8rem;
	line-height:1.8rem;
	font-size: 0.8rem;
}

.qqhb-top-centert{
	width: 100%;
	height: 4.6rem;
}

.qqhb-top-centert .qqhb-denglong-left{
	background-image: url(../img/head.png);
	background-repeat:no-repeat;
	background-size: 2.8rem 5.4rem;
	position: absolute;
	left: 0rem;
	top: 0.1rem;
	width:  2.8rem;
	height:  5.6rem;
}


.qqhb-img-tubaio{
	width: 1.6rem;
	height:1.6rem;
	position: absolute;
	top: 1.1rem;
	left: 0.6rem;
	z-index: 100;

}

.qqhb-top-centert .qqhb-zhufu{
	margin: 0;
	display: inline-block;
	background:rgba(0,0,0,0.3);
	position: absolute;
	top: 1.2rem;
	left: 2.6rem;
	width: 70%;
	font-size: 0.6rem;
	height: 1.4rem;
	border-radius: 0.3rem;
	color: #f5f5f5;
	line-height: 1.4rem;
	overflow: hidden;
	text-indent: 0.2rem;
}

.qqnh-hongbao{

	color: #ffcc66;
	display: inline-block;
	float: right;
	margin-right: 0.8rem;
	
}

.qqhb-zhufu a:hover{
	color: #ffcc66;
}

.qqhb-top-centert .qqhb-denglong-right{
	background-image: url(../img/button_tixian.png);
	background-repeat:no-repeat;
	background-size: 2.8rem  5.6rem;
	position: absolute;
	right:0rem;
	top: 0.1rem;
	width: 2.8rem;
	height: 5.6rem;
}

.qqhb-top-centert .qqhb-ifon{
	width: 65%;
	height: 3rem;
	/*background-color: #000;*/
	position: absolute;
	top: 3.3rem;
	left: 3rem;
	font-size: 0.7rem;
	color: #f5f5f5;

}
 .qqhb-jinse{
color: #ffcc66;
}

.qqhb-top-centert .qqhb-ifon .qqhb-ifon-zhufu{
	margin: 0;
	height: 100%;
	text-align: center;
	font-size: 0.7rem;
	overflow: hidden;
}


.qqhb-zhufu-ni{
	margin: 0.5rem 0 ;
	margin-top: 2rem;
	color: #ffcc66;
	font-size: 0.7rem;
	margin-left: 0.2rem;
}


.qqhb-fa-hongbao-r{
	width: 100%;
	height: 13rem;
}

.qqhb-haobao-yi{
	width: 100%;
	height: 7.5rem;
	padding: 0 0.5rem;
}

.qqhb-haobao-yi .qqhb-1-img{
	background-image:url(../img/ui_hongbao.png);
	background-repeat: no-repeat;
	display: inline-block;	
	background-size: 100% auto;
	width: 27.5%;
	height:100%;
	margin-left:2.2%;
	margin-right:2.2%;
	text-align: center;
}

.qqhb-haobao-yi .qqhb-1-img a{
	display: inline-block;
	width:3.2rem ;
	margin:0 auto;
	height: 100%;
	padding-top: 2.1rem;
	text-align: center;
	font-size: 0.8rem;
	color: #ffcc66;
}


/*.qqhb-haobao-er .qqhb-2-img{
	background-image:url(../img/ui_hongbao.png);
	background-repeat: no-repeat;
	display: inline-block;	
	background-size: 100% auto;
	width: 27.5%;
	height:100%;
	margin:0 2.2%;

}
*/
.qqhb-shui-zhufu-wo{
	width: 100%;
	height: 1.4rem;
	text-align: center;
	margin-top: 2.3rem;
}
.qqhb-shui-zhufu-wo a{
	margin: 0 auto;
	display: inline-block;
	width: 4.2rem;
	height: 100%;
	line-height: 1.4rem;
    border-radius: 0.3rem;
	color: #f5f5f5;
	background-color:#ff6666; 
	border:1px solid #333;
	text-align: center;
	font-size: 0.7rem;
}

/*.qqhb-xiaye{
	width: 100%;
	height: 1.4rem;
	font-size: 0.8rem;
	text-align: center;
	margin-top: 0.2rem;
}
.qqhb-xiaye a{
	display: inline-block;
	width: 2.8rem;
	height: 1.4rem;
	color: #f5f5f5;
	
}
.qqhb-xiaye a:hover{
	color: #f5f5f5;
}*/



.qqhb-con-btn{
	width: 60%;
	height: 6rem;
	margin: 0 auto;
	margin-top: 1rem;
}

.qqhb-con-btn .qqhb-wofa-one{
	display: block;
	text-align: center;
	background-color: #c44d4b;
	border-radius: 0.2rem;
	font-size: 0.7rem;
	height: 1.4rem;
	line-height: 1.4rem;
	color: #f5f5f5;
}

.qqhb-con-btn .qqhb-fenx-two{
	display: block;
	text-align: center;
	background-color: #c44d4b;
	border-radius: 0.2rem;
	margin-top: 0.8rem;
	font-size: 0.7rem;
	height: 1.4rem;
	line-height: 1.4rem;
	color: #f5f5f5;
}

/*打赏*/

    .pop4{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

  .popMain4{
    background-size:100% 70%;
    background-image: url(../img/ui_tanchuanghongbao.png);
    background-repeat: no-repeat;
    width:76%;
    height:59%;
    margin:0 auto;
    margin-top: 30%;
    
  }
  .popMain4 .qqhn-sui-jian{
    width: 100%;
    height: 3rem;
    line-height: 20px;
    text-align: center;
    padding-top:5.6rem;
    font-size: 0.8rem;
   color: #f5f5f5;
  }
  .qqhb-dashang-ifon{
    font-size: 0.7rem;
    margin-top: 2.2rem;
    height: 2.2rem;
    color: #f5f5f5;
    text-align: center;
    overflow: hidden;
    line-height:2rem;
    border-top: 1px solid #993333;
    border-bottom: 1px solid #993333;
  }

    .qqhb-da-shang-fe{
        list-style: none;
        width: 100%;
        height: 2.13rem;
        margin-top: -0.7rem;
        float: left;
        padding-left: 0;
        
    }
    .qqhb-da-shang-fe li{
        display: inline-block;
        border-right:1px solid #f5f5f5;
        height: 100%;
        float: left;
    }

    .qqhb-da-shang-fe .qqhb-si-yi{
        width: 30%;
        text-align: center;
        font-size: 0.7rem;
        background-color: #999999;
        float: left;
        color: #f5f5f5;
        line-height:2.1rem;
        padding-left: 0;

    }
     .qqhb-da-shang-fe .qqhb-si-er{
        width: 23%;
        text-align: center;
        line-height: 1.1rem;
        color: #f5f5f5;
        font-size: 0.7rem;
        background-color: #ff3333;

    }
     .qqhb-da-shang-fe .qqhb-si-san{
        width: 23%;
        text-align: center;
        font-size: 0.7rem;
        line-height: 1.1rem;
        color: #f5f5f5;
        margin:0;
        background-color: #ff3333;

    }
    .qqhb-da-shang-fe .qqhb-si-si{
        width: 23.5%;
        text-align: center;
        font-size: 0.7rem;
        line-height:1.1rem;
        color: #f5f5f5;
        margin:0;
        background-color: #ff3333;
        border: 0;
    }





 /*打赏-确实*/

  .pop{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 110;
        background: rgba(0, 0, 0, 0.8);
    }

  .pop .popMain{
    width: 72%;
    height: 80px;
    margin:60% 0 0 14%;
  }
   .pop  .popMain .popMiddle{
    width: 100%;
    text-align: center;
    margin: 0;
    height: 59.5%;
    line-height: 45px;
   background-color: #f5f5f5;
    font-size: 0.7rem;
    color:#333333;
    border-radius: 5px 5px 0 0;
   }
   .pop  .popMain .popBottom{
    width: 100%;
    margin: 0;
    height: 40%;
    line-height: 32px;
    font-size: 0.8rem;
   
   }
.popBottom .confirm{
    display: inline-block;
    width:49.7%;
    height: 100%;
    text-align: center;
    color: #f5f5f5;
    background-color: #999999;
    margin: 0;
    float: left;
    font-size: 0.7rem;
    margin-top: 0.5%;
    border-radius: 0 0 0 5px ;
}
.popBottom .cancel{
    display: inline-block;
    width:49.7%;
    margin-left:0.6%;
    height: 100%;
    text-align: center;
    background-color: #ff3333;
    color: #ffcccc;
    font-size: 0.7rem;
    margin-top: 0.5%;
    border-radius: 0 0 5px 0 ;
}
